* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-left: 10px;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid black;
    padding: 20px 10px;
    overflow: hidden;
}

header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.header-right a:hover {
    color: #00bcd4;
    transform: scale(1.1); 
}

header .logo:hover {
    color: #00bcd4;
}

.profile {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-profile h1::first-line {
    color: rgb(22, 226, 97);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.img-container {
    text-align: right;
}

.profile-image {
    width: 300px;
    border-radius: 10px;
}

.form-saran {
    background-color: rgb(52, 82, 123);
    border-radius: 15px;
    padding: 40px;
    margin: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-saran h2 {
    text-align: center;
    color: #ffffff;
}

.content-saran {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-saran label {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.content-saran input[type="text"],
.content-saran input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.content-saran input:focus,
.content-saran select:focus {
    border-color: #00bcd4;
    outline: none;
}

.content-saran input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.2);
    cursor: pointer;
}

.content-saran select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}

.content-saran input[type="submit"] {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    align-self: center;
    cursor: pointer;
}

.kontak-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.kontak-content img {
    width: 60px;
}

footer {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 2px;
    text-align: center;
    grid-column: 1 / -1;
    border-top: 1px solid black;
}
